*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-container{
    min-width: 300px;
}
.chara-card{
    max-width: 280px;
    min-width: 230px;
    height: 545px;
}
.chara-card:hover{
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}
.chara-logo{
    transition: transform 0.5s;
}
.chara-card:hover .chara-logo{
    transform: scale(0.95);
}

ul{
    list-style: none;
}

footer{
    bottom: 0;
}

.card-flipped{
    margin: auto;
    margin-left: -20px;
}